@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* BODY, GRID AND HEADERS */
*
body{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

header, main{
  margin-left: 100px;
  margin-right: 100px;
}

h1{
  margin-top: 10px;
  margin-bottom: 20px;
  color: #FFF;
  font-size: 60px;
  font-style: italic;
  font-weight: 275;
  
  span{
    text-decoration-line: underline;
    font-weight: 700;
  }
  
}

h2{
  margin: 0px;
  color: #000;
  font-size: 44px;
  font-weight: 400;
  span{
  font-weight: 400;
  text-decoration-line: underline;
  }
}

.h3-dentistas{
  color: #7B7B7B;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
}

h3{
  font-size: 90px;
  font-weight: 600;
  color: #000;
}

.h3-rdv{
  color: #7B7B7B;
  font-size: 85px;
  font-weight: 700;
  margin: 0;
}

h4{
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

h5{
  color: #7B7B7B;
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 14px;
}

.container{
  margin: 20px 100px;
}

/* REUSABLE CLASSES */

.d-flex{
  display: flex;
  color: #FFF;
  img{
    object-fit: contain;
  }
}

.a-center{
  align-items: center;
}

.t-center{
  text-align: center;
}

.mt-85{
  margin-top: 85px;
  padding-bottom: 30px;
}

.mt-10{
  margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}

.mt-40{
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
}

.mt-70{
  margin-top: 70px;
  margin-right: 100px;
  margin-left: 100px;
}

.mt-90{
  margin-top: 90px;
  margin-right: 100px;
  margin-left: 100px;
}

.mt-110{
  margin-top: 110px;
  margin-bottom: 70px;
}

.mb-20{
  margin-bottom: 20px;
}

/* HEADER */

header{
  width: calc(100% - 200px);
  position: fixed;
  top: 20px;
  z-index: 999;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.80);
  backdrop-filter: blur(10px);

  a{
    color: white;
  }
}

ul{
  display: flex;
  gap: 30px;
  padding: 0;
  list-style: none;
}

.cta-open-menu{
  visibility: hidden;
}

/* HERO SECTION */

.hero-section{
  background-image: url('/assets/bg-img-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
} 

.content-hero{
  padding-top: 10%;
  margin-left: 100px;
  margin-right: 100px;
}

.scroll-down-center{
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10%;
}

/* MAIN */

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-style{
  position: relative;
}

.img-behide{
  background-image: url("/public/images/happyemoji.png");
  background-size: cover;
  top: -300px;
  left: -150px;
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: -1;
}

.parent-grid{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-top: 30px;
}

.card1{
  background-image: url("/public/images/Endodontie.png");
}     

.card2{
  background-image: url('/public/images/blanchiment.png');
}

.card3{
  background-image: url('/public/images/Orthodontie_invisible.png');
}

.card4{
  background-image: url('/public/images/Orthodontie_traditionnelle.png');
}

.card5{
  background-image: url('/public/images/detartrage.png');
}

.card6{
  background-image: url('/public/images/urgences.png');
}

.card1, .card2, .card3,
.card4, .card5, .card6
{
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  background-size: cover;
  background-position: center;
  border: 1px solid #CFCFCF;

  width: 300px;
  height: 380px;
  padding: 10px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

.card1:hover, .card2:hover, .card3:hover,
.card4:hover, .card5:hover, .card6:hover
{
  transform: scale(1.04);
  border: 1px solid rgb(245, 225, 188) ;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.295);
}

.header-card{
  border-radius: 12px;
  background: #0000004d;
  backdrop-filter: blur(9px);

  span{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 10px;

    color: #FFF;
    font-weight: 500;
  }
}

.position-icon{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header-preview{
  display: flex;
  align-items: center;
  gap: 10px;
}

.preview{
  display: none;
  margin: 10px;
  max-width: 600px;

  padding: 20px;
  border-radius: 21px;
  border: 1px solid #CFCFCF;
   background: linear-gradient(180deg, rgba(36, 35, 35, 0.90) 0%, rgba(0, 0, 0, 0.90) 97%), 
  rgb(233, 206, 206) 50%; 
  color: #FFF;

  z-index: 3;
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;

  animation-name: fromtop;
  animation-duration: 0.6s;
}

@keyframes fromtop{
  from {left: -100px; opacity: 0;}
  to {left: 0px; opacity: 1;}
}

.btns-preview{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;

  button{
    width: 50%;
  }
}

#overlay{
  background-color: #0000007a;
  z-index: 1;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scaleActive.active{
  transform: scale(0.9);
  position: relative;
  z-index: 2;
}

/* SLIDER */
.container-slider{
  padding: 0;
  margin: 0;
}

.slider-wrapper{
  position: relative;
  max-width: 720px;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 16/20;
  overflow: hidden;
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  width: fit-content;
  position: relative;
  padding: 10px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;

  gap: 10px;
  background-color: black;
}

.slider-nav span{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: #000;
  transition: background-color 0.6s ease;
  display: inline-block;
}

.slider-nav span:hover{
  background-color: #EB6D12;
  cursor: pointer ;
}

.slider-nav .dot.active {
  background-color: #ffffff;
  width: 120px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  animation: buttonGrow 0.5s ease forwards;
}

@keyframes buttonGrow {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.arrow-animation{
  position: relative;
  top: 15%;
  left: 28%;
}

/* SPECIAL ELEMENTS */

.paragraph-header{
  /* color: #FFF; */
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  text-decoration-line: underline;
}

.hero-paragraph-text{
  margin-bottom: 50px;
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
}

.paragraph-text{
  font-size: 24px;
  color: #454545;
  font-weight: 400;
  width: 70%;
}

.local-img{
  height: 120vh;
}

.space-btw{
  justify-content: space-between;
}

.space-ard{
  justify-content: center;
  column-gap: 30px;
}

.bg-white-cards{
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.15);
}

.title-local{
  font-size: 90px;
  font-weight: 600;
}

.line-separate hr {
  width: 100%;
  border-color: #828282;
  align-items: center;
}

.cta-rdv{
  color: #FFF;
  width: 300px;
  font-size: 16px;
  font-weight: 600;

  display: inline-flex;
  height: 44px;
  padding-left: 26px;
  padding-right: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 46px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(235, 109, 18, 0.60);
  backdrop-filter: blur(23px);
}

.cta-rdv-stronger{
  background: #EB6D12;
}

.cta-close{
  background-color: rgba(5, 5, 5, 0.048);
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  height: 43px;


  border-radius: 46px;
  backdrop-filter: blur(20px);
}

.cta-close:hover{
  background-color: rgb(241, 88, 88);
  cursor: pointer;
  border: none;
  transition: 0.2s ease-in-out;
}

.card-tratamentos{
  width: 295px;
  height: 387px;
  flex-shrink: 0;
  border-radius: 21px;
  border: 1px solid #CFCFCF;
}

.btn-tratamentos{
  padding: 10px;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(9.699999809265137px);

  h4{
    margin: 0;
  }
} */

.card-bg{
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.15);
}

.card-body{
  width: 550px;
  height: 413px;
  padding: 20px;
  border-radius: 8px 8px 16px 16px;
  background: #FFF;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.15);
}

.group-dr{
  p{
    margin: 0
  };
}

.dr-small{
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.dr-big{
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.dr-text{
  color: #000;
}

.btn-experience{
  height: 46px;
  padding: 0px 20px;
  justify-content: center;
  gap: 10px;
  border-radius: 46px;
  border: 1px solid #B5B5B5;
  backdrop-filter: blur(23.200000762939453px);

  p{
    font-size: 16px;
  }
}

.main-expertise{
  height: 24px;
  padding: 7px 16px;
  justify-content: center;
  gap: 2px;
  border-radius: 10px;
  background: #000;
  color: white;
}

.btn-expertise{
  width: 224px;
  height: 24px;
  padding: 7px 16px;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  border: 0.5px solid #BEBEBE;
  background: #F3F3F3;
}

.p-expertise{
  color: #454545;
  font-size: 14px;
  font-weight: 400;
}

.hr-expertise{
  width: 100%;
  border-color: #C6C6C6;
}

/* FOOTER */

footer{
  background: #F8F8F8;
  p {
    color: #000;
  }
}

.footer-content{
  margin: 20px 100px;
  display: flex;
  justify-content: space-between;
}

.horario-grid{
  display: flex;
  padding: 6px;
  justify-content: space-between;
  align-items: flex-start;

  p{
    margin: 0;
  }
}

.horarios-cinza{
  padding: 6px;
  border-radius: 4px;
  background: #E6E6E6;
}

.link-maps{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-decoration-line: underline;
}

.footer-items{
  align-items: flex-start;
  gap: 10px;
  p{
    margin: 0;
  }
}

.span-footer{
  color: #F05BBA;
  font-size: 14px;
  font-weight: 400;
  text-decoration-line: underline;
}